* {
  box-sizing: border-box;
}

html,
body {
  background-color: rgba(203, 236, 218, 1.2);
}

.welcome {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  background-color: #ecfdf4;
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  color: #808080;
  text-decoration: none;
  margin-right: 15px;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Alex Brush", cursive;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #808080;
  text-shadow: 2px 2px 2px white;
}

h3 {
  font-family: "Lato",serif;
  font-size: 1.25rem;
  font-weight: 600;
}

footer {
  display: flex;
  text-align: center;
  line-height: 1.25;
  width: 100%;
} 
.column {
  display: block;
  margin: 0;
  width: 25%;
  align-content: flex-start;
}

.carousel-inner > .item > img {
  width: 640px;
  height: 360px;
}

.carousel {
  width: 640px;
  height: 360px;
}

.carousel-inner img {
  margin: auto;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size:60px;
    margin-top:20px;
    margin-bottom:20px;
  }
  /* footer {
    display: inline-block;
    text-align: center;
    line-height: 1.25; */
    /* width:auto; */
  /* }
  footer p {
    display: inline-block;
  }
  .column {
    display: block;
    margin: 0;
    width: 100%;
  } */
  footer {
    display: block;
    text-align: center;
    line-height: 1;
  }
  footer p {
    display: inline;
    margin: 15px;
  }
  .column {
    display: block;
    margin: 0;
    width: 100%;
  }
  .carousel-inner > .item > img {
    width: 400px;
    height: 200px;
  }
  
  .carousel {
    width: 400px;
    height: 200px;
  }
  
  .carousel-inner img {
    margin: auto;
  }
  .d-none {
    display: block!important;
    }
}